@import "responsive.css"; /* Using a string */
/* Veriable */
:root {
    --primaryFonts:  'Helvetica Neue', sans-serif;
    --primaryColor: #4167B2;   
    --gredientBg: linear-gradient(180deg, #D425FC 0%, #9733EE 100%);
    --textColor:#272727;
    --iconColor: #939393;
    --whiteColor: #fff;
    --blackColor: #000;
    --titleColor: #282828;
    --greyColor: #656565;
    --geryTextColor: #A6A6A6;
    --greyBg: rgba(235, 235, 235, 0.6);
    --transition01: .4s all;
}


/* Common Css */
body {
    background-color: rgba(235, 235, 235, 0.8);
}

body, ul, ol, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: var(--primaryFonts);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a, a:focus, a:hover {
    text-decoration: none;
}

.btn {
    line-height: 40px;
    padding: 0px 16px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    transition: var(--transition01);
}

.primaryBtn {
    background: var(--gredientBg);
    color: var(--whiteColor) !important;
}

.gradientOutlineBtn {
    position: relative;
}

.gradientOutlineBtn::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(180deg, #D425FC, #9733EE);
    border-radius: 12px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 0;
}

.outlineBtn {
    border: 1px solid rgba(166, 166, 166, 0.3)
}

.btn:hover {
    transform: translateY(-4px);
}

button:focus, select:focus, input:focus {
    outline: unset !important;
    box-shadow: none !important;
}

.textMd {
    font-weight: 500;
    color: var(--greyColor);
    font-size: 20px;;
}

.cursorPointer {
    cursor: pointer;
}

.greyBg {
    background-color: var(--greyBg);
    border-radius: 10px;
    padding: 16px;
}

.form-group {
    margin-bottom: 16px;
}

select.form-select, .form-control {
    box-shadow: 0px 0px 6px 0px rgba(178, 178, 178, 0.37);
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 300;
    color: var(--textColor);
    height: 45px;
}

textarea.form-control {
    height: 142px;
}

.form-label {
    margin-bottom: .7rem;
    color: var(--titleColor);
    font-size: 16px;
    font-weight: 500;
}

.formNote {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.5;
    color: var(--textColor);
}

.formIcon {
    position: absolute;
    bottom: 11px;
    right: 16px;
}


.pageTitle {
    color: var(--titleColor);
    font-weight: 700;
    font-size: 25px;
}

.pageSubTitle {
    color: var(--geryTextColor);
    font-weight: 500;
    font-size: 18px;
}

/* Dashboard */
.dashboardWrap {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dashboardContent {
    width: calc(100% - 195px);
    margin-left: 195px;
    padding: 20px;
    transition: var(--transition01);
}

.sideNavClose + .dashboardContent {
    width: calc(100% - 87px);
    margin-left: 87px;
}


/* Side Nav */
.sideNav {
    flex-basis: 180px;
    position: fixed;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    background: var(--whiteColor);
    width: 180px;
    padding:5px 0px 15px 15px;
    z-index: 9;
    top: 20px;
    left: 15px;
    border-radius: 12px;
    transition: var(--transition01);
}

.sideNavMenu {
    height: calc(100vh - 95px);
    overflow-y: auto;
}

.sideNav li a {
    padding: 14px 0px 14px 10px;
    margin-bottom: 10px;
}

.sideNav li a {
    display: flex;
    align-items: center;
    color: var(--textColor);
    font-size: 14px;
    font-weight: 300;
    transition: var(--transition01);
    border: 1px solid transparent;
}

.sideNav li a .menuIcon {
    margin-right: 8px;
    display: inline-block;
}

.sideNav .menuIcon .activeIcon {
    display: none;
}

.sideNav a.active .menuIcon .activeIcon {
    display: inline-block;
}

.sideNav a.active .menuIcon .defaultIcon {
    display: none;
}

.sideNav li a.active {
    background: linear-gradient(180deg, #D425FC 0%, #9733EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    border: 1px solid rgba(39, 39, 39, 0.02);
}

.sideNav li a:hover {
    background: linear-gradient(180deg, #D425FC 0%, #9733EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sideNav .navLogo {
    display: none;
}

.sideNav.sideNavClose {
    padding: 0;
    width: 72px;
}

.sideNav.sideNavClose a span:first-child {
    width: 100%;
    margin-right: 0;
    text-align: center;
}

.sideNav.sideNavClose a span:last-child {
    opacity: 0;
    width: 0;
}

.sideNav.sideNavClose .closeBtn {
    transform: rotate(180deg);
    text-align: left !important;
    position: absolute;
    top: 8px;
    right: -10px;
}

.sideNav.sideNavClose .navLogo {
    display: block;
}

.sideNav.sideNavClose li a {
    padding: 10px 0px 10px 0;
    margin-bottom: 0;
    height: 50px;
}

/* Dashboard Data */
.dashboardData {
    padding: 24px;
}

.whiteCard {
    padding: 24px;
    border-radius: 20px;
    background-color: var(--whiteColor);
    margin-bottom: 24px;
}

.topNav span {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.searchBar input {
    background: var(--whiteColor);
    border: none;
    padding: 10px 16px 10px 42px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
}

span.searchIcon {
    position: absolute;
    top: 7px;
    left: 16px;
}

.filterDiv {
    background: var(--whiteColor);
    border: none;
    padding: 0 16px;
    border-radius: 25px;
    font-size: 14px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    line-height: 40px;
    color: var(--iconColor);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 12px;
    cursor: pointer;
}

.dashboardImgCard {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.dashboardImgCard::after {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);
    content: '';
}

.dashboardImgCard > img {
    aspect-ratio: 3/2.9;
    object-fit: cover;
}

.imgContent {
    position: absolute;
    padding: 15px;
    bottom: 0;
    width: 100%;
}

.imgContent::after {
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.imgContent * {
    position: relative;
    z-index: 1;
}

.imgContent h4 {
    color: var(--whiteColor);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.imgContent p {
    font-weight: 400;
    margin-bottom: 6px;
    color: var(--whiteColor);
}

.imgCardBtn span {
    border: 1px solid var(--whiteColor);
    padding: 5px 10px;
    font-size: 12px;
    color: var(--whiteColor);
    font-weight: 400;
    border-radius: 32px;
    margin: 2px;
    white-space: nowrap;
    display: inline-block;
}

.imgCardIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 4px;
    z-index: 1;
}

.imgCardIcon span {
    display: inline-flex;
    background: var(--whiteColor);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    cursor: pointer;
}


.slideCard h5 {
    font-size: 18px;
    color: var(--titleColor);
    margin-bottom: 16px;
}

.slideCard img {
    border-radius: 12px;
}

.slideCard p {
    font-size: 12px;
    font-weight: 500;
    color: var(--iconColor);
    padding: 10px 0;
}

.slideCard .slick-arrow {
    border: none;
    background: transparent;
}

.slideCard .slick-arrow:disabled {
  cursor: not-allowed;
}

.slideCard .slick-arrow:disabled svg path {
  fill: var(--iconColor);
}

span.counter {
    font-size: 12px;
    color: var(--iconColor);
    font-weight: 500;
    margin: 0 10px;
}



/* Profile Page */
.uploadCard {
    box-shadow: 0px 0px 6px 0px rgba(178, 178, 178, 0.37);
    background: var(--whiteColor);
    border-radius: 12px;
    aspect-ratio: 4/3.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 16px;
}

.uploadCard input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.uploadIcon p {
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;
    color: var(--textColor);
}

.cardImg {
    border: 0.5px solid #D9D9D9;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleCard  input[type="radio"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.singleCard input[type="radio"]:checked + .cardImg {
    border: 0.5px solid #9733EE;
}

.socialLinksCard .form-control {
    padding-left: 40px;
}

.socialLinksCard .formSocialIcon {
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.profilePageBtn .btn {
    min-width: 120px;
}


.liquorList {
    display: inline-flex;
    flex-flow: wrap;
    gap: 6px;
}

.liquorCard {
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.liquorCard .liquorIcon {
    display: inline-block;
    height: 21px;
    width: auto;
    margin-bottom: 10px;
}

.liquorCard p {
    color: var(--textColor);
    font-size: 12px;
    font-weight: 400;
}

.liquorCard .countBadge {
    border: 0.3px solid var(--greyColor);
    padding: 2px 7px 1px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 12px;
    display: inline-block;
    margin-left: 2px;
    background-color: var(--whiteColor);
    color: var(--textColor);
    line-height: normal;
}

.liquorCard.activeCard {
    background-image: var(--gredientBg);
}

.liquorCard.activeCard img {
    filter: brightness(0) invert(1);
}

.liquorCard.activeCard p {
    color: var(--whiteColor);
} 

.tableOuter table thead th {
    font-size: 14px;
    font-weight: 700;
    color: var(--whiteColor);
    padding: 11px 16px;
    background: var(--gredientBg);
    white-space: nowrap;
}

.tableOuter table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tableOuter table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tableOuter table tbody td {
    font-size: 14px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.8);
    padding: 10px 16px;
    border-bottom: 1px solid #E9E7FD;
    vertical-align: middle;
    white-space: nowrap;
}

.tableBtnWrap .tableBtn {
    border: 0.7px solid rgba(240, 240, 240, 1);
    background: transparent;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    transition: var(--transition01);
}

.tableBtnWrap .tableBtn  img {
    width: 12px;
    height: 12px;
    max-width: inherit;
}

.tableBtnWrap .tableBtn:hover {
    background-color: rgba(39, 39, 39, 0.1);
}





.eventCards .imgContent h4 {
    font-size: 14px;
}

.eventCards .imgContent p {
    font-size: 13px;
    line-height: normal;
}

.eventCards .imgCardBtn span {
    font-size: 9px;
    background: #fff;
    color: var(--textColor);
    margin: 0 0 8px;
}

.eventCards .dashboardImgCard > img {
    aspect-ratio: 3/3.2;
}

.eventCards .uploadCard {
    aspect-ratio: 3/3.2;
    border: 1px dashed #a331f1;
}

.eventTabs.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    padding: 8px 12px;
    color: var(--textColor);
    background-color: #F6F6F6;
    margin-right: 5px;
}

.eventTabs.nav-pills .nav-link.active{
    color: var(--whiteColor);
    background: var(--gredientBg);
}





.coinCard {
    background: var(--whiteColor);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.coinCardIcon {
    display: flex;
    width: 62px;
    height: 62px;
    align-items: center;
    justify-content: center;
    background: var(--whiteColor);
    border-radius: 50%;
    margin-bottom: 12px;
}

.coinCard h5 {
    color: var(--titleColor);
    font-size: 16px;
    font-weight: 500;
}

.coinCard .btn {
    line-height: 28px;
    font-size: 12px;
    margin: 16px 0;
}

.coinCard p {
    font-size: 12px;
    color: var(--geryTextColor);
}

.coinCardGrey.coinCard {
    background-color: var(--greyBg);
}

.coinCardGrey.coinCard .btn {
    background: rgba(192, 192, 192, 0.2);
    color: #8F8F8F !important;
}

.slick-list {
    padding:0 20% 0 0 !important;
}